<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIConfiguration</key>
	<string>$(CONFIGURATION)</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>近くのカメラを検出してアゲ報告を行うために使用します</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>近くのカメラを検出してアゲ報告を行うために使用します</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>

